<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Car_maintenance"
        tools:targetApi="31">
        <activity
            android:name=".edit_service_reminder"
            android:exported="false" />
        <activity
            android:name=".edit_expense_reminder"
            android:exported="false" />
        <activity
            android:name=".edit_service"
            android:exported="false" />
        <activity
            android:name=".edit_trip"
            android:exported="false" />
        <activity
            android:name=".edit_odometer"
            android:exported="false" />
        <activity
            android:name=".edit_fill_up"
            android:exported="false" />
        <activity
            android:name=".edit_expense"
            android:exported="false" />
        <activity
            android:name=".Edit_vehicle"
            android:exported="false" />
        <activity
            android:name=".Maps"
            android:exported="false" />
        <activity
            android:name=".Report"
            android:exported="false" />
        <activity
            android:name=".add_expense"
            android:exported="false" />
        <activity
            android:name=".add_odometer"
            android:exported="false" />
        <activity
            android:name=".add_trip"
            android:exported="false" />
        <activity
            android:name=".add_service"
            android:exported="false" />
        <activity
            android:name=".add_fill_up"
            android:exported="false" />
        <activity
            android:name=".add_expense_reminder"
            android:exported="false" />
        <activity
            android:name=".add_service_reminder"
            android:exported="false" />
        <activity
            android:name=".Vehicle_add"
            android:exported="false" />
        <activity
            android:name=".Reminders"
            android:exported="false" />
        <activity
            android:name=".Vehicle"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>